.header {
	background: #212121;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),
	0px 4px 5px 0px rgba(0,0,0,0.14),
	0px 1px 10px 0px rgba(0,0,0,0.12);
	height: 40px;
	margin: 0;
	width: 100%;
	padding: 1em 0;

	h1 {
		color: #61dafb;
		margin: 0;
	}
}